#tagline {
    position: relative;

    &-image {
        width: 100%;
        height: 12rem;

        object-fit: cover;
        object-position: top;
    }

    &-title {
        font-family: "Megan June", sans-serif;

        text-align: center;

        position: absolute;
        width: 100%;
        top: 0;
        left: 0;

        line-height: 12rem;

        color: #fff;
        font-size: 3rem;
        font-weight: 600;
    }
}
